@{
    Layout = null;
}

<html>
    <head></head>
    <body>
        <label>City : </label>
        <select id="city">
          
        </select>
        
        <label>Locality : </label>
        <select id="locality">
        
        </select>
        
        <label>Type : </label>
        <select>
          <option value="land">Land</option>
          <option value="flat">Flat</option>
        </select>
        <script type="text/javascript">
            $()
        </script>
    </body>
</html>